@{
    ViewData["Title"] = "Expedientes";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}

<!DOCTYPE html>
<html lang="es-gt">
<head>
    <meta charset="UTF-8" />
    <title>Expedientes</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.11/css/jquery.dataTables.css">
    <script src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.js"></script>

    <style>
        #divContenidoExpediente {
            position: relative;
            float: left;
            width: 100%;
            height: 100%;
            overflow-x: auto;
        }

        .diviTitulo {
            position: relative;
            float: left;
            width: 100%;
            height: 10%;
            text-align: center;
            margin: 0;
            color: #808080;
            margin-bottom: 20px;
        }

        #tblExpediente_Paciente {
            width: 100%;
        }

        #tblExpediente_Cita {
            width: 42%;
        }

        #btnAceptarCita, #btnAceptarPaciente, #btnAceptarConsulta {
            width: 125px;
            height: 40px;
        }

        .expediente, .paciente {
            width: 200px;
        }

        .tdlabel {
            width: 250px;
        }

        .txtInput, .cita {
            width: 225px;
        }

        .tdlabelCita {
            width: 90px;
        }

        #divListadoConsultas {
            position: relative;
            float: left;
            width: 40%;
        }

        #divResumenConsultas {
            position: relative;
            margin-left: 20px;
            float: left;
            width: 55%;
            border: 1px solid #ccc;
            border-radius: 5px 5px 5px 5px;
        }
        /*CODIGO CSS PARA LAS TABS*/
        body {
            font-family: sans-serif;
        }

        .tabs-container {
            position: relative;
            width: 100%;
            margin: 2em auto;
        }

        .tabs {
            list-style: none;
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 0;
            display: flex;
            border: 0;
        }

        .tabs_item {
            border: 1px solid #ccc;
            border-bottom: none;
            line-height: 2.5;
            padding: 0 1em;
            margin-right: 1px;
            background: #eee;
            border-radius: 5px 5px 0 0;
            position: relative;
            top: 1px;
            z-index: 0;
            cursor: pointer;
        }

        .liActivo {
            background: #ffd800;
            z-index: 20;
        }

        .panels {
            border: 1px solid #ccc;
            border-radius: 0px 0px 20px 20px;
            padding: 1em;
            position: relative;
            z-index: 10;
        }

        .panels_item {
            position: absolute;
            width: 100%;
            height: 100%;
            left: -1000%;
        }

            .panels_item.active {
                position: relative;
                left: 0;
            }
    </style>
</head>

<div class="diviTitulo">
    <h1>Expediente medico</h1>
</div>
<div class="tabs-container">
    <ul class="tabs" id="tabs">
        <li class="tabs_item active liActivo">Informacion personal</li>
        <li class="tabs_item">Citas</li>
        <!--<li class="tabs_item">Documentos</li>-->
        <li class="tabs_item">Consultas</li>
        <!--<li class="tabs_item">Estado de cuenta</li>-->
    </ul>
    <div class="panels">
        @*PANEL DE INFORMACION PERSONAL*@
        <div class="panels_item active pnlActivo">
            <table id="tblExpediente_Paciente">
                <tr>
                    <td class="tdlabel"><label>Expediente No.:</label></td>
                    <td style="width: 300px;"><input type="text" id="txtNoExpediente" name="txtNoExpediente" class="expediente" value="@ViewBag.codigo_expediente" /></td>
                    <td class="tdlabel"><label>Codigo paciente:</label></td>
                    <td style="width: 300px;"><input type="text" id="txtCodigoPaciente" name="txtCodigoPaciente" class="expediente" value="@ViewBag.codigo_paciente" /></td>

                    @*<td style="width: 100px;" class="tdlabel"><label></label></td>
                        <td rowspan="6"><img src="~/img/user.png" alt="" width="200" height="250"></td>*@
                    <td></td>
                </tr>
                <tr>
                    <td class="tdlabel"><label>Titulo:</label></td>
                    <td><input type="text" id="txtTitulo" name="txtTitulo" class="expediente" value="@ViewBag.descripcion" /></td>
                    @*<td style="width: 25px; text-align:right;"><label>Agregar</label></td>*@
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="tdlabel"><label>Nombres del paciente:</label></td>
                    <td><input type="text" id="txtNombrePaciente" name="txtNombrePaciente" class="expediente" value="@ViewBag.nombres" /></td>
                    @*<td style="width: 25px; text-align:right;"><label>Eliminar</label></td>*@
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="tdlabel"><label>Apellidos del paciente:</label></td>
                    <td><input type="text" id="txtApellidosPaciente" name="txtApellidosPaciente" class="expediente" value="@ViewBag.apellidos" /></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="tdlabel"><label>Domicilio:</label></td>
                    <td>
                        <textarea rows="2" cols="50" id="taDireccion" name="taDireccion">@ViewBag.direccion</textarea>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="tdlabel"><label>Telefono:</label></td>
                    <td><input type="text" id="txtTelefono" name="txtTelefono" class="expediente" value="@ViewBag.telefono" /></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="tdlabel"><label>Fecha de nacimiento:</label></td>
                    <td><input type="date" id="txtFechaNacimiento" name="txtFechaNacimiento" class="expediente" value="@ViewBag.fecha_nacimiento" /></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="tdlabel"><label>No. de seguro social:</label></td>
                    <td><input type="text" id="txtSeguroSocial" name="txtSeguroSocial" class="expediente" value="@ViewBag.seguro_social" /></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="tdlabel"><label>Genero:</label></td>
                    <td>
                        <select id="cbGenero" name="cbGenero" class="expediente">
                            <option value="0">@ViewBag.genero</option>
                        </select>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="tdlabel"><label>Correo electronico:</label></td>
                    <td><input type="text" id="txtEmail" name="txtEmail" class="expediente" value="@ViewBag.email" /></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" id="btnAceptarPaciente" name="btnAceptarPaciente" value="Guardar" /></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            <hr />
            @*<div class="grid">
                    <div class="a">Item 1</div>  cada uno de los ítems del grid
                    <div class="b">Item 2</div>
                    <div class="c">Item 3</div>
                    <div class="d">Item 4</div>
                </div>*@
        </div>
        @*PANEL DE PESTANIA CITA*@
        <div class="panels_item">
            @*<div id="skeduler-container"></div>*@
            <form action="/Cita/NuevaCita" method="post">
                <table id="tblExpediente_Cita">
                    @*<tr>
                            <td class="tdlabelCita"><label>Fecha cita:</label></td>
                            <td class="txtInput"><input type="date" id="dpFechaCita" name="dpFechaCita" class="cita" /></td>
                        </tr>
                        <tr>
                            <td class="tdlabelCita"><label>Hora inicial:</label></td>
                            <td><input type="time" id="txtApellidosP" name="txtApellidosP" class="cita" /></td>
                        </tr>
                        <tr>
                            <td class="tdlabelCita"><label>Hora final:</label></td>
                            <td><input type="time" id="txtDireccionP" name="txtDireccionP" class="cita" /></td>
                        </tr>*@
                    <tr>
                        <td></td>
                        <td><input type="submit" id="btnAceptarCita" name="btnAceptarCita" value="Crear cita" /></td>
                    </tr>
                </table>
            </form>
            <br />
            <table id="tblCitas" class="footable">
                <thead>
                    <tr>
                        <th>Fecha cita</th>
                        <th>Hora de inicio</th>
                        <th>Hora de finalizacion</th>
                    </tr>
                </thead>
                <tbody id="tblBodyCitas">
                </tbody>
            </table>
        </div>
        @*PANEL DE DOCUMENTOS*@
        @*<div class="panels_item">
                <h2>Opcion 3</h2>
                <p>ESTA ES UNA PRUEBA </p>
            </div>*@
        @*PANEL DE CONSULTAS*@
        <div class="panels_item">
            <table>
                <tr>
                    <td><label>Motivo de la consulta:</label></td>
                    <td><textarea cols="100" rows="1" id="taMotivo" name="taMotivo"></textarea></td>
                </tr>
                <tr>
                    <td><label>Sintomas:</label></td>
                    <td><textarea cols="100" rows="1" id="taSintomas" name="taSintomas"></textarea></td>
                </tr>
                <tr>
                    <td><label>Diagnostico:</label></td>
                    <td><textarea cols="100" rows="1" id="taDiagnostico" name="taDiagnostico"></textarea></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" id="btnAceptarConsulta" name="btnAceptarConsulta" value="Guardar" /></td>
                </tr>
            </table>
            <hr />
            <div class="diviTitulo">
                <h1>Listado de consultas</h1>
            </div>
            <div id="divListadoConsultas">
                <label>Listado de consutas</label>
                <table id="grid" class="table table-striped table-bordered dt-responsive nowrap">
                    <thead>
                        <tr>
                            <th>Medico</th>
                            <th>Fecha de consulta</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Dr. Eddy Davila</td>
                            <td>25/07/2019 14:00</td>
                        </tr>
                        <tr>
                            <td>Dr. Luis Alfonso Perez</td>
                            <td>28/07/2019 16:00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="divResumenConsultas">
                <label>Resumen de la consulta seleccionada</label>
                <table>
                    <tr>
                        <td><label>Consulta:</label></td>
                        <td><textarea cols="100" rows="5" id="taConsulta2" name="taConsulta2"></textarea></td>
                    </tr>
                    <tr>
                        <td><label>Sintomas:</label></td>
                        <td><textarea cols="100" rows="5" id="taSintomas2" name="taSintomas2"></textarea></td>
                    </tr>
                    <tr>
                        <td><label>Diagnostico:</label></td>
                        <td><textarea cols="100" rows="5" id="taDiagnostico2" name="taDiagnostico2"></textarea></td>
                    </tr>
                </table>
            </div>
        </div>

        @*PANEL DE ESTADO DE CUENTA*@
        @*<div class="panels_item">
                <h2>Opcion 5</h2>
                <p>ESTA ES UNA PRUEBA</p>
            </div>*@
    </div>
</div>
@*SCRIPT QUE ME SIRVE PARA MANEJAR LOS CLICK CON LAS PESTANIAS*@
<script>
    (function (d) {
        let tabs = Array.prototype.slice.apply(d.querySelectorAll('.tabs_item'));   //convierto los tabs en un array de tabs, el query selectorall no devuelve un arrar
        let panels = Array.prototype.slice.apply(d.querySelectorAll('.panels_item'));    //el query selectorall no devuelve un arrar

        d.getElementById('tabs').addEventListener('click', function (e) {
            if (e.target.classList.contains('tabs_item')) { //valido que lo que se clickea sea la pestania y no el contenedor
                //obtengo el indice de la pestania a la que le estoy haciendo click
                let i = tabs.indexOf(e.target);
                //map es un metodo de cualquier array que permite recorrerlo sin hacer un ciclo, y a cada uno de los elementos hacerles una modificacion y devuelve un nuevo array
                tabs.map(tab => tab.classList.remove('liActivo'));
                tabs[i].classList.add('liActivo');

                panels.map(panel => panel.classList.remove('active'));
                panels[i].classList.add('active');

                //si hago click en la pestania de Citas...
                if (i == 1) {
                    var cod_paciente = document.getElementById("txtCodigoPaciente").value;  //obtengo el valor del codigo de paciente del campo de codigo paciente
                    var nom_paciente = document.getElementById("txtNombrePaciente").value + " " + document.getElementById("txtApellidosPaciente").value; //obtengo el nombre completo del paciente
                    //primero borro todas las filas de citas que tiene la tabla
                    $.getJSON("/Expediente/ModificarExpedienteCitas", { codigo_paciente: cod_paciente, nombre_paciente: nom_paciente }, function (respuesta_controlador) {
                        $.each(respuesta_controlador, function (key, value) {
                            $(".fila").remove();
                        });
                    });
                    //luego agrego nuevamente las filas de citas a la tabla, pero actualizada de la base de datos.
                    $.getJSON("/Expediente/ModificarExpedienteCitas", { codigo_paciente: cod_paciente, nombre_paciente: nom_paciente }, function (respuesta_controlador) {
                        $.each(respuesta_controlador, function (key, value) {
                            tabla = document.getElementById("tblBodyCitas");
                            var tr = document.createElement("tr");
                            tr.setAttribute('class', 'fila');   //le pongo como clase = fila a la fila tr, esto me servira para poder eliminar las filas

                            var columnaFechaCita = document.createElement("td");
                            var cadena_fecha;
                            cadena_fecha = value.fecha_cita;
                            //le doy formato a la columna fecha para que la cadena salga como dd-MM-yyyy
                            columnaFechaCita.innerHTML = [cadena_fecha.slice(8, 10), "-", cadena_fecha.slice(5, 7), "-", cadena_fecha.slice(0, 4)].join('');

                            var columnaHoraInicio = document.createElement("td");
                            columnaHoraInicio.innerHTML = value.hora_inicio;

                            var columnaHoraFin = document.createElement("td");
                            columnaHoraFin.innerHTML = value.hora_fin;

                            tr.appendChild(columnaFechaCita);
                            tr.appendChild(columnaHoraInicio);
                            tr.appendChild(columnaHoraFin);
                            tabla.appendChild(tr);
                        });
                    });
                }
                //Si hago click en la pestania de Consultas...
                if (i == 2) {
                    //alert("presione la pestania Consultas");
                }
            }
        });
    })(document)

    //$(document).ready(function () {
    //    $('#grid').DataTable();
    //});
</script>
<style>
    .footable {
        width: 100%;
        font-family: 'trebuchet MS', 'Lucida sans', Arial;
        font-size: 14px;
        color: #444;
        border: solid #ccc 1px;
        border-collapse: separate;
        border-spacing: 0;
    }

        .footable > tbody > tr > td, .footable > thead > tr > th {
            border-left: 1px solid #ccc;
            border-top: 1px solid #ccc;
            padding: 10px;
            text-align: left;
        }

        .footable > thead > tr > th, .footable > thead > tr > td {
            background-color: #dce9f9;
        }

    .footable {
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
    }

        .footable > thead > tr > th {
            background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
            background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
            background-image: -moz-linear-gradient(top, #ebf3fc, #dce9f9);
            background-image: -ms-linear-gradient(top, #ebf3fc, #dce9f9);
            background-image: -o-linear-gradient(top, #ebf3fc, #dce9f9);
            background-image: linear-gradient(to bottom, #ebf3fc, #dce9f9);
            -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
            -moz-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
            box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
            border-top: none;
            text-shadow: 0 1px 0 rgba(255,255,255,.5);
        }

        .footable > tbody > tr:hover {
            background: #fbf8e9;
        }
</style>
</html>








